# Set default behavior to use LF line endings
* text=auto eol=lf

# Ensure these file types use LF endings
*.js     text eol=lf
*.ts     text eol=lf
*.tsx    text eol=lf
*.json   text eol=lf
*.css    text eol=lf
*.md     text eol=lf
*.yml    text eol=lf
*.yaml   text eol=lf
*.html   text eol=lf
*.sh     text eol=lf
*.svg    text eol=lf
*.lock   text eol=lf
